<ion-view view-title="About Us">
  <ion-content class="padding">

  <div class="list card">

  <div class="item item-body">
    <img class="block-centered" src="img/prueter-management-logo.png" />
    <p>
      From steward of forests to steward of families’ financial health, Mike has always been motivated to help his community.
    </p>
    <P>After graduating from the natural resources program at Lakehead University in Thunder Bay, Ontario in 1978, Mike practised forestry management and silviculture in British Columbia and throughout North America for more than 30 years.</p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="http://www.pruetermanagement.ca/">
      <i class="icon ion-earth"></i>
      Website
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-social-rss"></i>
      RSS
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-email"></i>
      Email
    </a>
  </div>

</div>


  </ion-content>
</ion-view>
