<ion-view view-title="Prueter Management" class="has-header bar-positive">

  <ion-nav-bar class="bar-green">
    <ion-nav-buttons side="primary">
      <button class="button button-clear button-icon ion-navicon" ng-click="openMenu()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding has-header">
    <h1>Finance Calculator</h1>

    <div class="list">
      <div class="item range range-balanced">
        <label>Income</label>
        <i class="icon ion-social-usd"></i>
        <input type="range" ng-model="data.income" name="data.income" min="20000" max="1000000" value="45000" step="1000" ng-change="updateChartData()">
        <span class="item-note" ng-model="data.income" >{{ data.income | currency:$:0}}</span>
      </div>

      <div class="item range range-balanced">
        <label>Net Worth</label>
        <i class="icon ion-social-usd"></i>
        <input type="range" ng-model="data.networth" name="data.networth" min="20000" max="1000000" value="45000" step="1000" ng-change="updateChartData()">
        <span class="item-note" ng-model="data.networth">{{ data.networth | currency:$:0}}</span>
      </div>

    </div>

    <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="donutData" chart-labels="chartLabels">
    </canvas>

    <canvas id="bar" class="chart chart-bar"
      chart-data="barData" chart-labels="chartLabels">
    </canvas>


  </ion-content>
</ion-view>
