<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Learn More</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <p class="padding centered">To immediately unlock more free chart facets and learn more about how easy financial planning is, create a free account now!</p>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="Full Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Send</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
