/* Empty. Add your own CSS if you like */
.centered{ text-align: center;}
.block-centered{ margin:0 auto; display: block}
.green{ color:#62b138;}
.blue{ color:#0e76bc;}

.bar.bar-blue{
    border-color: #498629;
    background-color: #0e76bc;
    background-image: linear-gradient(0deg, #498629, #498629 50%, transparent 50%);
    color: #fff;
}
.bar.bar-green{
    border-color: #498629;
    background-color: #62b138;
    background-image: linear-gradient(0deg, #498629, #498629 50%, transparent 50%);
    color: #fff;
}
.bar.bar-green h1,
.bar.bar-blue h1{
    color:#fff;
}